/* reset das configuracao do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
   background-image:url(assets/fundo.jpg);
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   background-attachment: fixed;
}

h2{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    font-family:"Arial", sans-serif;
    display: block;

}
