

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: blanchedalmond;
    background-image: url("assets/fundo2.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin: 20px;
}

p{
    text-align: justify;
    font-size: 20px;
    font-family: arial;
    margin: 20px;
}