/* Importando a fonte 'Kalam' do Google, que parece escrita à mão */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* O fundo da página: imitando uma folha de caderno */
body {
    background-color: #fdfdfd;
    background-image: linear-gradient(#e1e1e1 1px, transparent 1px);
    background-size: 100% 35px; /* Altura das linhas do caderno */
    font-family: 'Kalam', cursive;
    text-align: center; /* Centraliza tudo */
    padding-top: 50px;
    margin: 0;
}

/* O título principal (Azul caneta) */
h1 {
    color: #003366;
    font-size: 40px;
    margin-bottom: 10px;
}

/* O texto das instruções */
p {
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

/* As caixinhas de digitar a nota */
input[type="number"] {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #888; /* Bordinha tracejada */
    border-radius: 8px;
    width: 130px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
}

/* O botão "Calcular" (Estilo Lápis Amarelo) */
button {
    font-family: 'Kalam', cursive;
    font-size: 24px;
    font-weight: bold;
    background-color: #ffcc00; 
    color: #1a1a1a;
    border: 2px solid #b38f00;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #b38f00; /* Sombra dura para dar estilo */
    transition: 0.2s;
}

/* Efeito quando o mouse passa por cima do botão */
button:hover {
    background-color: #ffe
